.about-me-container {
  margin-top: 100px;
  max-width: 800px;
  background-image: linear-gradient(to right, #f5d3da, #ccdcf7, #ccf7dd);
  min-height: 200px;
}

.about-me-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: -50px;
  transform: translateY(-60px);
  border: 2px solid dodgerblue;
}
